# Ignore uploads & cache
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# Ignore log files
*.log

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore WordPress config (if it contains secrets)
wp-config.php

# Ignore backup & export files
*.sql
*.tar
*.zip
*.gz
*.wpress

# Ignore node_modules if any theme/plugin uses npm
node_modules/

# Ignore vendor if you don't want dependencies
/.idea/.gitignore
/.idea/dfes-wordpress.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
wp-content/updraft/.htaccess
wp-content/updraft/index.html
wp-content/updraft/log.1e230cb836dd.txt
wp-content/updraft/log.1947e335e98f.txt
wp-content/updraft/log.79448d0b6ccc.txt
wp-content/updraft/web.config
