.elementor-9784 .elementor-element.elementor-element-1805f6dd{--display:flex;}/* Start custom CSS for html, class: .elementor-element-41859ec */.elementor-9784 .elementor-element.elementor-element-41859ec .accordion{
    font-family: Roboto;
    font-size: 1rem ;
    letter-spacing: 1.5px;
    text-align: justify;
}/* End custom CSS */