.elementor-9821 .elementor-element.elementor-element-1e429d73{--display:flex;}.elementor-9821 .elementor-element.elementor-element-6e55f21{font-family:"Roboto", Sans-serif;font-size:1rem;font-weight:400;letter-spacing:1.5px;}/* Start custom CSS for text-editor, class: .elementor-element-6e55f21 */.elementor-9821 .elementor-element.elementor-element-6e55f21 .accordion-header{
    font-family: Roboot;
    font-size: 1rem;
}/* End custom CSS */